<div class="card" style="width: 50rem;">

    
  
  <div class="card-body">
        <div class="mb-4">
          <button class="ringouter">
            <span class="ring"><i class="fa-solid fa-play"></i></span>
          </button>
          <img class="image-mb4"
          src="https://placehold.co/600x400" class="card-img-top" alt="cardimage">
          
        </div>
      <div class="mt-4 mb-4">
        <a class="badge bg-secondary">Branding</a>
       
       
      </div>
      <div>
        <i class="fa-solid fa-headset"></i>
        <a type ="button" class="btn btn-link">FASHION</a>
        <h3 class = "fa-text">Finding Moments of Joy in A challenging Year</h3>
      </div>
      <!-- <div class="mt-4 mb-4">
        <a class="badge bg-secondary">fashion</a>
      </div> -->
      <h2 class="card-title mt-4 mb-4">Easy Strategies to Help Your Family Succeed in 2020</h2>
      <div class="mt-4 mb-4">
        <img src="https://placehold.co/50x50" class="rounded-circle" alt="circleimage">
        
        <a type ="button" class="btn btn-link article-author-name">STUPE CURRAN</a>
        <span class ="article-date ">March 8 ,2021</span>
      </div>
      <div class="mt-4 mb-4">
        <img src="https://placehold.co/25x25" class="rounded-circle" alt="circleimage">
      
        <a type ="button" class="btn btn-link podcast-author-name">DEVIPRIYA</a>
        <span class ="article-date ">March 8 ,2021</span>
      </div>
      <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
      <p class="card-text">Who denounce their brothers and sisters, sowing distrust and ill-will. They freeze our hearts and our tongues, by punishing with prison anyone who provokes, praises, or merely seeks to understand those mad acts to which an insane society has driven […]</p>
      
      <div class="card-footer text-muted">
        <!-- <a href="#" class="btn btn-primary">Learn more</a> -->
        <button type="button" class="btn btn-link">Learn more</button>
      </div>
    </div>
    
  </div>
