
<ul class="sub-menu">
    <li><a (click)="navigateToPeople()" class="ce-menu-item" aria-haspopup="true"  aria-expanded="false">People<span class="ce-menu-toggle">
      <i class="fa"></i></span></a></li>
    <li id="menu-item-573" class="menu-item "><a  (click)="navigateToEBook()" class="ce-sub-menu-item">E-Book</a></li>
    <li id="menu-item-1944" class="menu-item"><a (click)="navigateToPodcast()" class="ce-sub-menu-item">Podcast</a></li>
    <li id="menu-item-1943" class="menu-item"><a  (click)="navigateToArticle()" class="ce-sub-menu-item">Article</a></li>
  </ul>

